#gradle-wrapper.jar
/captures/
GeneratedPluginRegistrant.java

#Karolina:
/gradle
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle

/app/build.gradle

app/Blackbox – Database – Firebase console_files

app/src/java/
app/src/kotlin/

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties

# Let me try and commit and push, to see if buid.gradle files
# become brownish green to show that they are ignored...
# If not: Move to project root .gitignore!
/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
/app/src/main/java/com/karolinadart/blackbox/MainActivity.java
/app/src/main/kotlin/com/example/blackbox/MainActivity.kt
/app/src/main/kotlin/com/karolinadart/blackbox/MainActivity.kt
